{% extends "base.html" %}

{% block title %}Hello World!{% endblock %}

{% block header %}Welcome to the website!{% endblock %}

{% block content %}


<div class="admin_panel">
    <form name="profileForm" method="POST" action="">
        <div class="formObject">
            {% csrf_token %}
            <label for="menu_id">Select a profile from the list to login:</label>
            <select id="menu_id" name="menu" onchange="top.location.href=this.options[this.selectedIndex].value;">
            {% for profile in profiles %}
                <option value="../{{ profile.pk }}/details/">{{ profile.First_name }}</option>
            {% endfor %}
            </select>
            <div class="fromBtn_container">
                <a href="{% url 'createRecord' %}"><button type="button" class="btn">Add New Profile</button></a>
                <a href="{% url 'home' %}"><button type="button" class="btn">Logout of Profile</button></a>
            </div>
        </div>
    </form>
</div>


{% endblock %}